#header {
  font-size: 28px;
  font-family: "Myriad Pro";
  color: rgb(10, 9, 9);
  line-height: .5;
  text-align: left;
  position: absolute;
  left: 110px;
  top: -10px;
  z-index: 25;
  margin: 4px 0px 0px 10px;
}

#symbol {
  position: absolute;
  left: 25px;
  top: 2px;
  width: 72px;
  height: 74px;
  z-index: 17;
}

#welcome-header {
  font-size: 30px;
  font-family:;
  color: rgb(36, 224, 226);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 82.844px;
  top: 132.828px;
  z-index: 21; 
}
#information-header {
  font-size: 30px;
  font-family:;
  color: rgb(10, 9, 9);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 61.004px;
  top: 416.215px;
  width: 144px;
  height: 22px;
  z-index: 16;
}
#new-features-header {
  font-size: 30px;
  font-family: ;
  color: rgb(36, 224, 226);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 40.844px;
  top: 819.5px;
  z-index: 22;
}
#how-we-started-header {
  font-size: 30px;
  font-family:;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 40.844px;
  top: 1164px;
  z-index: 9;
}

#home {
    margin: -1510px 0px 0px 1390px;
    font-family: monospace;
    font-size: 25px;
    color:black;
}

#about {
    margin: -29px 0px 0px 1495px;
    font-family: monospace;
    font-size: 25px;
}

#contact {
    font-family: monospace;
    font-size: 25px;
    margin: -28px 0px 0px 1660px;
    height: 25px;
    width: 159px
}

#background {
    margin: -8px 0px 0px -9px
}