* {
    cursor: url(images/cursor2.png), auto;
}

#backgroung {
    visibility: hidden;
    margin: -976px 0px 0px -8px
}
#header {
  font-size: 28px;
  font-family: "Myriad Pro";
  color: rgb(10, 9, 9);
  line-height: .5;
  text-align: left;
  position: absolute;
  left: 110px;
  top: -10px;
  z-index: 25;
  margin: 4px 0px 0px 10px;
}

#symbol {
  position: absolute;
  left: 25px;
  top: 2px;
  width: 72px;
  height: 74px;
  z-index: 17;
}

#symbol2 {
  position: absolute;
  left: 25px;
  top: 2px;
  width: 72px;
  height: 74px;
  z-index: 17;
  visibility: hidden;
}

#welcome-header {
  font-size: 35px;
  font-family: "Myriad Pro";
  color: rgb(36, 224, 226);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  margin: -760px 0px 0px 478px;
  z-index: 11;
}

#information-header {
  font-size: 35px;
  font-family: "Myriad Pro";
  color: black;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  margin: 220px 0px 0px 454px;
  width: 144px;
  height: 22px;
  z-index: 18;
}
#new-features-header {
  font-size: 35px;
  font-family: "Myriad Pro";
  color: rgb(36, 224, 226);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  margin: 1200px 0px 0px 462px;
  z-index: 28;
}
#how-we-started-header {
  font-size: 35px;
  font-family: "Myriad Pro";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  margin: 2169px 0px 0px 453px;
  z-index: 36;
}
#home {
    margin: -50px 0px 0px 1350px;
    font-family: monospace;
    font-size: 30px;
    color:black;
}

#tidle1 {
    margin: -55px 0px 0px 1450px;
    font-size: 30px
}

#about {
    margin: -35px 0px 0px 1495px;
    font-family: monospace;
    font-size: 30px;
}

#tidle2 {
    margin: -66px 0px 0px 1660px;
    font-size: 30px;
}

#tidle3{
    visibility: hidden;
}

#contact {
    font-family: monospace;
    font-size: 30px;
    margin: -35px 0px 0px 1700px;
    height: 25px;
    width: 190px
}

#panda-vid {
    margin: 600px 0px 0px 1400px
}

#play {
    margin: -145px 0px 0px 1542px
}
#background {
    margin: -8px 0px 0px -9px
}

#top-leaves {
    margin: -4076px 0px 0px 600px
}

#welcome-picture {
    margin: -70px 0px 0px -390px;
}

#information-picture {
    margin: -50px 0px 0px -389px;
}

#new-features-picture {
    margin: -40px 0px 0px -380px;
}

#how-we-started-picture {
    margin: -45px 0px 0px -375px;
}

#welcome-text1 {
    margin: -150px 0px 0px 0px;
    font-size:16px;
    height:;
    width:420px;
}

#welcome-text2 {
    margin: -795px 0px 0px 455px;
    font-size:16px;
    height:;
    width:420px;
}

#welcome-text3 {
    margin: -795px 0px 0px 455px;
    font-size:16px;
    height:;
    width:420px;
}

#information-text1 {
    margin:-190px 10px 100px 18px;
    font-size:16px;
    height:;
    width:420px;
}
#information-text2 {
    margin:-879px 10px 100px 473px;
    font-size:16px;
    height:;
    width:420px;
}

#information-text3 {
    margin: -879px 0px 0px 928px;
    font-size:16px;
    height:;
    width:420px;
}

#new-features-text1 {
    margin:-200px 10px 100px 9px;
    font-size:16px;
    height:;
    width:420px;
}

#new-features-text2 {
    margin:-879px 10px 100px 464px;
    font-size:16px;
    height:;
    width:420px;
}

#new-features-text3 {
    margin:-879px 10px 100px 919px;
    font-size:16px;
    height:;
    width:420px;
}

#how-we-started-text1 {
    margin:-200px 10px 100px 9px;
    font-size:16px;
    height:;
    width:420px;
}

#how-we-started-text2 {
    margin:-879px 10px 100px 464px;
    font-size:16px;
    height:;
    width:420px;
}

#how-we-started-text3 {
    margin:-879px 10px 100px 919px;
    font-size:16px;
    height:;
    width:420px;
}
#footer-text1 {
 margin:3155px 0px 0px 0px; 
     color:#ffffff;
    font-size:12px;
}

#return-to-top-button {
  margin:0px 0px 0px 600px;
}

#footer-text2 {
 margin:-25px 0px 0px 1795px;
color:#ffffff;
    font-size:12px;
}

#all {
    visibility: visible;
}